/* Variables */
:root{
    --color-font-encabezado: #77ebff;
    --color-font-cuerpo: white;
    --color-backg-principal: #000e1acb;
    --color-backg-opciones: #00101b;
    --color-backg-pulsado: #000e1a;
    --font1: 'ABeeZee', sans-serif;
    --font2: 'Fredoka One', cursive;
    --font3: 'Balsamiq Sans', cursive;
}

/* 100*10/16 = 62.5 Para facilitar el uso de em*/
html{
    font-size: 62.5%;
}

/* Primer corte 1080/16 = 67.5 rem */
@media (max-width: 67.5rem){
    html{
        font-size: 58%;
    }
}

/* Segundo corte 800/16 = 50 rem */
@media (max-width: 50rem){
    html{
        font-size: 50%;
    }
}

/* Tercer corte 450/16 = 28.15 rem */
@media (max-width: 28.15rem){
    html{
        font-size: 45%;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-backg-principal);
}



.encabezado{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: var(--font1);
    text-align: center;
    padding: 1.5em;
    color: var(--color-font-encabezado);
}

/* Contenido gral donde se encontrarán las opciones de calculo */
#cont-block{
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

/* Contenido de las opciones de cálculo, ademas de ser un grid-item es un grid */
#contenido{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    gap: 0.5em;
    margin: 0 auto;
    padding-top: 4em;
    
}

/* 680/16 = 42.5rem */
@media (max-width: 42.5rem){
    #contenido{
        width: 80%;
    }
}
/* Cada una de las celdas del contenido, ademas de ser grid-item es un flexbox */
.calculos-items{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1em solid var(--color-font-encabezado);
    text-decoration: none;
    font-size: 2.5em;
    color: var(--color-font-cuerpo);
    font-family: var(--font3);
    text-align: center;
    border-radius: 0.5em;
    background: var(--color-backg-opciones);
    box-shadow: 0em 0em 0.2em var(--color-backg-opciones), 0.1em 0.1em 0.4em var(--color-backg-opciones), 0.2em 0.2em 1em var(--color-backg-opciones);
}

.calculos-items:active{
    box-shadow: none;
    background: var(--color-backg-pulsado);
}

#footer{
    height: 15vh;
}


/* -------------------------CACLCULO DE AREAS / PERIMETROS----------------------------- */

/* El encabezado es el mismo estilo que el de la pagina de inicio */

#cont-figuras{
    height: 20vh;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
    justify-content: center;
    align-items: center;
    color: var(--color-font-cuerpo);
    font-family: var(--font3);
    font-size: 2em;
    text-align: center;
    /* border: 1px solid white; */
}

/* .elegir{
    border: 1px solid white;
} */

select{
    width: 20em;
    height: 2.5em;
    border-radius: 0.3em;
    margin: 0.5em;
    background: transparent;
    border: 0.1em solid var(--color-font-encabezado);
    color: var(--color-font-encabezado);
    outline: none;
    padding-left: 1em;
    font-family: var(--font3);
    transition: all 300ms ease;

}

option{
    background: var(--color-backg-principal);
}


#datos{
    height: 45vh;
    text-align: center;  
    padding-top: 2em; 
    /* border: 1px solid white; */
}

#creacion{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cuadrado0,
.rectangulo0, .rectangulo1, 
.triangulo0, .triangulo1, .triangulo2, 
.circulo0 {
    width: 7em;
    height: 2.5em;
    border-radius: 0.3em;
    margin: 1em;
    background: transparent;
    border: 0.1em solid var(--color-font-encabezado);
    color: var(--color-font-encabezado);
    outline: none;
    padding-left: 1em;
    font-family: var(--font3);
    appearance: none;
}



#solicitud{
    font-family: var(--font1);
    color: var(--color-font-encabezado);
}

#requisitos{
    font-family: var(--font3);
    color: var(--color-font-cuerpo);
    font-size: 1.5em;
    margin: 1em auto;
    width: 70%;
}

#requisitos a{
    text-decoration: none;
    color: var(--color-font-encabezado)
}

#especificar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#especificar p{
    font-family: var(--font3);
    color: var(--color-font-cuerpo);
    font-size: 1.5em;
}

#calcular{
    font-family: var(--font3);
    color: var(--color-backg-principal);
    background: var(--color-font-encabezado);
    font-size: 1.5em;
    font-weight: 700;
    width: 10em;
    height: 2.2em;
    margin-top: 1em;
    border-radius: 0.3em;
    border: none;
    outline: none;
}

#resultado{
    height: 15vh;
    font-family: var(--font1);
    color: var(--color-font-encabezado);
    font-size: 2em;
}

#resultado_total{
    text-align: center;
    font-size: 3em;
    /* text-shadow: 0.05em 0.05em 0.15em var(--color-font-encabezado); */
}





